<h2 class="text-3xl md:text-4xl font-serif font-bold text-white tracking-tight leading-tight mt-6 mb-4 hover:underline cursor-pointer">
  <a href={`/berita/${beritaUtama.id}`}>{beritaUtama.judul}</a>
</h2>
